
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }

}

.rootcard{
  /* background-image: url(https://img.freepik.com/free-vector/children-drawing-home-with-crayons_74855-5454.jpg?w=996&t=st=1670848889~exp=1670849489~hmac=8599260905f5b357141c0f2c9e43c5e90e06133af132b4c90075e0a5de74d4f3); */
  /* background-image: url(/public/house.jpg); */
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  justify-content: center;
 /* overflow: hidden; */
}



.rtcrd{
  width: 90%;
  color: #000;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.rtcrd .Rbtn{
  display: inline-block;
  text-decoration: none;
  color: #000;
  border: 2px solid #000;
  padding: 8px 30px;
  font-size: 14px;
  left: 4px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.rtcrd .Rbtn:hover{
  border: 2px solid #c84869;
  background: #c84869;
  transition: 1s;
  color: #fff;
}







/* --------------------Navbar ---------------*/

.header {
  top: 1000;
  z-index: 10000;
  margin: 0;
  padding: 0;
}
.navbar-custom {
  background-image: none;
  background-color: #213e8c;
}

/*---------------- Cards css----------------- */
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 30px;
  /* margin-left: 150px; */
  justify-content: center;
  cursor: pointer;
  /* width: 80%; */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.card-title {
  font-size: 25px;
  font-weight: 200px;
}

/* --------------------Footer ------------------*/

.footer {
  padding: 4rem 6rem;
  background:#213e8c;
  color: #000;
}

.top {
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.top i {
  color: #870026;
  font-size: 2rem;
  margin-left: 1rem;
}

.top i:hover {
  color: #870026;
}

.bottom {
  padding-top: 2rem;
  text-align: start;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bottom div {
  display: flex;
  flex-direction: column;
}

.bottom h1 {
  font-size: 1.3rem;
  padding: 1rem 0 0.8rem 0;
}

.bottom a {
  text-decoration: none;
  color: #000;
  padding-bottom: 0.4rem;
  font-size: 1.1rem;
}

.bottom a:hover {
  color: #870026;
}

@media screen and (max-width: 850px) {
  .footer {
    padding: 4rem 2rem;
  }

  .footer i {
    margin: 1rem 1rem 0 0;
  }

  .bottom div {
    width: 50%;
  }
}

/*------------------- create css ------------------*/

.container_crt {
  text-align: center;
  font-size: large;
  /* margin-top:50px;
    margin-bottom: 50px; */
  padding: 10px 0px 10px 0px;
  /* border-radius: 30px 30px 30px 30px; */
  /* background-color: #ABCBFF; */
  color: #000;
  
  background-image:linear-gradient(rgba(205, 241, 252, 0.52), #ABCBFF);
}
 input:focus { color: black }

.container_crt .det {
  color: rgb(5, 5, 5);
  font-size: 35px;
  font-weight: 700;
}

.det1::placeholder{
  color: black;
}

.det1 {
  position: relative;
  line-height: 40px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  background-color: white;
  color: black;
}

.det2{
  position: relative;
  line-height: 40px;
  border-radius: 6px;
  border-color: #000;
  padding: 10px 0px;
  font-size: 16px;
  color: #000;
  background-color: white;
}
.sr{
  color: #000;
  position: relative;
  line-height: 40px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  background-color: white;
}
.container_crt .addr {
  color: rgb(5, 5, 5);
  font-size: 35px;
  font-weight: 700;
}

.Ing {
  color: rgb(5, 5, 5);
  font-size: 35px;
  font-weight: 700;
}

.sub-btn {
  font-weight: 550;
  display: inline-block;
  text-decoration: none;
  color: #000;
  border: 2px solid #101010;
  padding: 8px 30px;
  font-size: 18px;
  border-radius: 10px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.sub-btn:hover {
  border: 2px solid #c84869;
  background: #c84869;
  transition: 1s;
  color: #fff;

}

/* -------------------------id -------------- */


.container_id{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: medium;
  /* background-image:linear-gradient(rgba(205, 241, 252, 0.52), #ABCBFF); */

}
/* .name{
  font-weight: 750;
  font-size: 35px;
  color: #870026;
} */

.org{
  color: #2A70DE;
  font-size: 25px;
  font-style: oblique;
}

.adr{
  font-size: 22px;
} 

/* -------------filters----------- */

/* .filters{
 margin: 0;
}
.fil{
  margin-top: 20px;
  margin: 20px 20px 10px 40px;
  position: relative;
  line-height: 10px;
  border-radius: 6px;
  color: #000;
  background-color: #fff;
  border-color: #000;

}

.fil::placeholder{
  color: #000;
} */

/* .Rbtn {
  left: 48px;
  display: inline-block;
  color: #000;
  border: 2px solid #101010;
  padding: 4px 6px;
  font-size: 14px;
  border-radius: 10px;
  background: transparent;
  position: relative;
  cursor: pointer;
} */

/* .Rbtn:hover {
  border: 2px solid #c84869;
  background: #c84869;
  transition: 1s;
  color: #fff;
} */
