@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/*---------------- Cards css----------------- */
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 4%;
  justify-content: center;
  cursor: pointer;
  /* width: 80%; */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

/* Add some padding inside the card container */
.card-title {
  font-size: 25px;
  font-weight: 200px;
}

/* --------------------Footer ------------------*/

.footer {
  padding: 4rem 6rem;
  background: #ffff;
  color: #000;
}

.bottom {
  padding-top: 1rem;
  text-align: start;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer_col {
  width: 25%;
}

.off_address {
  letter-spacing: normal;
}

.bottom div {
  display: flex;
  flex-direction: column;
}

.bottom h1 {
  font-size: 1.3rem;
  padding: 1rem 0 0.8rem 0;
}

.bottom a {
  text-decoration: none;
  color: #000;
  padding-bottom: 0.4rem;
  font-size: 1.1rem;
}

.bottom a:hover {
  color: #870026;
}

.off_address {
  letter-spacing: normal;
  font-size: 15px;
  text-align: justify;
}

.end {
  justify-content: center;
  text-align: center;
  background-color: #213e8c;
  font-size: 13px;
  color: #fff;
}
.subs {
  background-color: #c84869;
  border: #c84869;
  padding: 1%;
}

.subs:hover {
  background-color: #870026;
}

@media screen and (max-width: 850px) {
  .footer {
    padding: 4rem 2rem;
  }
  .bottom div {
    width: 75%;
    margin: 3%;
  }
}

/* ------------Create form ------------*/
.container_crt {
  position: relative;
  max-width: 900px;
  width: 100%;
  border-radius: 6px;
  padding: 30px;
  /* margin: 10% 15px; */
  left: 15%;
  /* background-color: rgb(243, 244, 248); */
  /* box-shadow: 0 5px 10px rgba(0,0,0,0.1); */
}

.container_crt form {
  position: relative;
  margin-top: 2%;
  min-height: 595px;
  background-color: rgb(165, 207, 242);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.container_crt form .title {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  margin: 2%;
  color: rgb(134, 129, 129);
  margin: 3% 5%;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 1%;
}
.container_crt form .fields {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* flex-direction: row; */
  justify-content: space-around;
}

.field_select,
select {
  margin-left: 8.5%;
  color: #fff;
  padding: 1%;
  /* background-color: #fff; */
 border-color: #0a023fc3;
  width: 90%;
  cursor: pointer;
}  



form .fields .input-field {
  display: flex;
  width: calc(100% / 3 - 15px);
  flex-direction: column;
  margin: 1% 0;
  padding: 1%;
  background-color: #fff;
  border-color: #0a023fc3;
}
form .fields .input-field {
  display: flex;
  width: calc(100% / 3 - 15px);
  flex-direction: column;
  margin: 1% 0;
  padding: 1%;
  background-color: #fff;
  border-color: #0a023fc3;
}

.input-field::placeholder {
  font-size: 12px;
  font-weight: 500;
  color: rgb(54, 52, 52);
}

.Rbtn_crt {
  margin-top: 1%;

  left: 25%;
  display: inline-block;
  color: #000;
  border: 2px solid #101010;
  padding: 1% 1%;
  font-size: 14px;

  width: 55%;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.Rbtn_crt:hover {
  background-color: #417586;
  color: white;
}

@media (max-width: 750px) {
  .container_crt form {
    overflow-y: scroll;
  }
  .container_crt form::-webkit-scrollbar {
    display: none;
  }
  form .fields .input-field {
    width: calc(100% / 2 - 15px);
  }
}

@media (max-width: 550px) {
  form .fields .input-field {
    width: 100%;
  }
}

/* -------------------------id -------------- */

.container_id {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: medium;
  /* background-image:linear-gradient(rgba(205, 241, 252, 0.52), #ABCBFF); */
}
/* .name{
  font-weight: 750;
  font-size: 35px;
  color: #870026;
} */

.org {
  color: #2a70de;
  font-size: 25px;
  font-style: oblique;
}

.adr {
  font-size: 22px;
}

.fil::placeholder {
  color: #000;
}
