/* .options {
  accent-color: red;
  
} */
/* }

.options li {
  float: left;
  margin: 0 5px 0 0;
  width: 100px;
  height: 40px;
  position: relative;
}

/* .options label,
.options input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
} */
.inp{
  background-color: white;
  border: solid 0.2px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 1%;
  padding: 0.7%;
  display: flex;
  justify-content: center;
}

.inp:hover{
  border: solid 2px;
  border-color:rgb(42,112,222);
}


