.options {
  accent-color: red;
}
/* }

.options li {
  float: left;
  margin: 0 5px 0 0;
  width: 100px;
  height: 40px;
  position: relative;
}

/* .options label,
.options input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
} */

.options input[type="radio"] {
  accent-color: red;
}

/* .options input[type="radio"]:checked+label {
  background: yellow;
}

.options label {
  padding: 5px;
  border: 1px solid #CCC;
  cursor: pointer;
  z-index: 90;
}

.options label:hover {
  background: #DDD;
} */ 
